@model ClotheStore.Models.Role

@{
    ViewData["Title"] = "Cập nhật thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" asp-action="Index">Danh sách quyền truy cập</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Chỉnh sửa quyền truy cập</li>
            </ol>
        </nav>
    </div>
</nav>
<h2>Chỉnh sửa quyền truy cập</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" style="border: 1px solid; padding-left: 6px"/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" style="border: 1px solid; padding-left: 6px" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

