@model List<Product>
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        string url = Url.Action("Details", "Product", new { id = item.ProductId, parentId = item.Cat.ParentId, level = item.Cat.Levels, ordering = item.Cat.Ordering });
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="product__item">
                @{
                    var firstImage = item.ProductImages.FirstOrDefault();
                }
                @if (firstImage != null)
                {
                    <div class="product__item__pic set-bg">
                        <a href="@url">
                            <img src="/images/sanphamImg/@firstImage.ImageUrl"/>
                        </a>
                    </div>
                }
                else
                {
                    <div class="product__item__pic set-bg">
                        <img src="/images/sanphamImg/default.jpg" />
                    </div>
                }
                <div class="product__item__text">
                    <h6>@item.ProductName</h6>
                    <a href="@url" class="add-cart">=> Xem chi tiết</a>
                    <h5>@item.Price.Value.ToString("#,##0")₫</h5>
                </div>
            </div>
        </div>
    }
}
